:root{
  --clrLightGray- : hsl(180, 52%, 96%);
  --clrLightGray2- : hsl(180, 31%, 95%);
  --clrDarkGray- : hsl(180, 8%, 52%);
  --clrGray2- : hsl(180, 14%, 20%);
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
  

  --fontFamily-: Spartan;
}

body{
   font-family: Spartan, sans-serif;
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 70px;
   background-color: var(--clrLightGray-);
   flex-wrap: wrap;
   
}
.container-logo{
                   padding-top: 10px;
}
li{
  list-style-type: none;
  margin-right: 10px;
}
.container{
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 50px  5000px -1px var(--DesaturatedDarkCyan);
            width: 80rw;
            margin-bottom: 20px;
}

.sub-container{
             display: flex;
             flex-wrap: wrap;
}
.sub-sub-container1{  
                 display: flex;
                 flex-direction: column;
                 flex-wrap: wrap;

}
.sub-sub-container2{  
  display: flex;

}
.sub-2-list{
            display: flex;
            align-items: center;
            color: var(--DesaturatedDarkCyan);
            

}
.second-list{
                   font-weight: 900;
                   
}
.sub-2-list li{
  display: flex;
  margin-right: 20px;
  font-size: 13px;
 color: var(--DesaturatedDarkCyan);
 background-color: var(--clrLightGray-);
 padding: 5px;
 flex-wrap: wrap;
  
}
.first-list{
              display: flex;
              font-size: 10px;
              padding: 4px;
              font-size: 11px;
              font-weight: 500;
             margin-left: 27px;
             flex-wrap: wrap;
}
.first-list :first-child{
  color: black;
  font-size: 14px;
  padding-top: 2px;
  font-weight: bold;
}
.first-list :nth-child(2){
  background-color: var(--DesaturatedDarkCyan);
  padding: 4px;
  border-radius: 10px;
  color: white;
}
.first-list :last-child{
  background-color: var(--clrDarkGray-);
  padding: 4px;
  border-radius: 10px;
  color: white;
}
.third-list{
              display: flex;
              font-size: 11px;
              color: var(--clrDarkGray-2);
              margin-right: 15px;
}

@media only screen and (max-width: 400px) {
 #logoImg {
   margin-left: 70px;
  }
  .first-list{
                   margin-left: 70px;
  }
  .third-list{
                     margin-left: 30px;
  }
  .second-list{
                     margin-left: 30px;
  }
  .sub-2-list{
                     margin-left: 30px;
  }
}

