:root {
  color: var(--text-disable, #ebebeb);
}

.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Add a margin to create space after the logo */
}

.navigation-class {
  flex-direction: column;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Add a margin to create space after the logo */
}

.navigation-class li {
  margin-top: 10px;

  /* Add a margin to create space after the logo */
}
.navigation-class li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
  /* Add a margin to create space after the logo */
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #051139!important;
  width: 200px;
  box-sizing: border-box;
}

.navigation-menu li {
  margin: 0px 20px;
}
.navigation-menu li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
}
#im {
  margin-top: 15px;
}
